{% extends 'base.html' %}
{% block title %}
About
{% endblock %}

{% block content %}
<div class="w-[70%] text-3xl flex bg-[#1C2127] flex-col rounded-tr-[10rem] rounded-bl-[10rem] mt-8 p-8 items-center justify-center">
    <div class="w-[80%]">
    <div class="m-3 mt-8" >
        <h1 class="font-bold text-[#FCDA05] heading">About Startup Conqueror</h1>
        <p class="text-white pt-4 text-[1.5rem] font-normal font-[Mohave] leading-relaxed">
            Startup Conqueror is an interactive strategy game where creativity, 
        problem-solving, and entrepreneurial thinking come together. 
        Dive into the diverse challenges faced by regions across India,
         propose innovative solutions, and expand your influence as you conquer state by state
            </p>

    </div>
    <div class="m-3 mt-8" >
        <h1 class="font-bold heading text-[#FCDA05]">Our Mission</h1>
        <p class="text-white pt-4 font-normal text-[1.5rem] font-[Mohave] leading-relaxed">Startup Conqueror aims to inspire players to think critically and creatively about 
        real-world problems. By connecting regional issues with startup-driven solutions,
        we encourage innovation and foster an entrepreneurial mindset in a fun and engaging way.
    </p>
    </div>
</div>
    
</div>

{% endblock %}
{% block script %}
{% endblock %}

