<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Conquer India's market by providing relevant startup solutions" />
    <meta name="keywords" content="risk, solutions, " />
    <title>{% block title %} Startup Conquer {% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/map.css' %}" />
    <link rel="icon" href="{% static 'img/svg/logo.svg' %}" type="image/gif" sizes="16x16"> 
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <!-- Navbar Section  -->
    <nav class="absolute z-40 top-0 sticky bg-[#1C2127]/[0.8] p-2 flex px-4 flex-row gap-2 justify-between tracking-[13%] items-center">
      <a href="/"><img src="{% static 'img/svg/logo.svg' %}" alt="Startup Conquer" /></a>
      <a class="heading cursor-pointer text-xl text-[#FCDA05] text-center w-[12rem]" href="/">STARTUP CONQUER</a>
      <button onclick="showMenu()" id="nav-btn" class="transition-all duration-300">
          <svg width="46" height="46" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#FCDA05"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M9 12C9 12.5523 8.55228 13 8 13C7.44772 13 7 12.5523 7 12C7 11.4477 7.44772 11 8 11C8.55228 11 9 11.4477 9 12Z" fill="#FCDA05"></path> <path d="M13 12C13 12.5523 12.5523 13 12 13C11.4477 13 11 12.5523 11 12C11 11.4477 11.4477 11 12 11C12.5523 11 13 11.4477 13 12Z" fill="#FCDA05"></path> <path d="M17 12C17 12.5523 16.5523 13 16 13C15.4477 13 15 12.5523 15 12C15 11.4477 15.4477 11 16 11C16.5523 11 17 11.4477 17 12Z" fill="#FCDA05"></path> <path d="M7 3.33782C8.47087 2.48697 10.1786 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 10.1786 2.48697 8.47087 3.33782 7" stroke="#FCDA05" stroke-width="1.5" stroke-linecap="round"></path> </g></svg>        
      </button>
    </nav>

    <!-- Menu Section with transition -->
    <div class="menu h-[90vh] bg-black/75 flex absolute z-20 flex-col gap-8 justify-center items-center text-white transition transition-[width] ease-in-out duration-300" id="menu-item">
      <div class="heading cursor-pointer text-4xl text-[#FCDA05] tracking-[13%] text-center">MENU</div>
      <a href="/about" class="text-2xl font-[Mohave] hover:text-[#FCDA05] transition-all duration-300">ABOUT</a>
      <a href="/login" class="text-2xl font-[Mohave] hover:text-[#FCDA05] transition-all duration-300">LOGIN/REGISTER</a>
      <a href="/leaderboard" class="text-2xl font-[Mohave] hover:text-[#FCDA05] transition-all duration-300">LEADERBOARD</a>
    </div>

    <div class="bg-[url('{% static 'img/img/stars-bg.png' %}')] bg-[#222831] bg-cover bg-center bg-no-repeat h-full flex flex-col items-center justify-center">
      {% block content %} {% endblock %}
    </div>
    <div id="tooltip" class="tooltip mt-4" style="display: none"></div>
    <script src="{% static 'js/home_script.js' %}"></script>
    <script src="{% static 'js/map_script.js' %}"></script>

  </body>
  <footer>
    <div >
      <img class="select-none wave w-[4000px] mt-4 absolute opacity-75 max-w-[8000px] max-h-[320px]" src="{% static 'img/img/footer_back.png' %}" alt="">
      <img class="select-none wave2 w-[4000px] absolute max-w-[8000px] max-h-[360px]" src="{% static 'img/img/footer_front.png' %}" alt="">
      <div class="flex flex-col items-center text-[#1C2127] relative">
        <div class="heading z-20 text-2xl absolute top-[14rem]">STARTUP CONQUER</div>
        <div class="flex flex-row gap-2 font-[Mohave] text-xl absolute top-[18rem]">
          <img src="{% static 'img/svg/mail.svg' %}" alt="">
          <div>conquerstartup@gmail.com</div>
        </div>
      </div>
    </div>
  </footer>
</html>
