    {% extends 'base.html' %}
    {% block title %}
    Login
    {% endblock %}

    {% block content %}
    {% load static %}
    <div>
        <div class="flex flex-row mt-10 items-center justify-center " >
            <h1 class="font-bold text-5xl font-[Mohave] p-2  text-white">LOGIN</h1>
            <img src="{% static 'img/svg/titleDesign.svg' %}" alt="titleDesign" class="w-12 h-12">
        </div>  
        <div class="h-[50vh] w-[40vw] relative rounded-tr-[10rem] rounded-bl-[10rem] text-3xl flex bg-[#1C2127]/[0.75] flex-col mt-8 p-8 items-center justify-center"> 
            <form method="post" class="flex flex-col items-center justify-center gap-6"> 
                <div class="flex justify-center items-center gap-4">
                    <img src="{% static 'img/svg/loginMail.svg' %}" alt="titleDesign" class="w-7  h-7" />
                    <input type="email" class="bg-[#404C5D] text-white text-xl rounded-xl px-4 py-2 opacity-80 border outline-none" name="email" placeholder="email" />
                </div>
                <div class="flex justify-center items-center gap-4 relative">
                    <img src="{% static 'img/svg/password.svg' %}" alt="titleDesign" class="w-7  h-7" />
                    <input type="password" id="password" class="bg-[#404C5D] text-white text-xl rounded-xl px-4 py-2 opacity-80 border outline-none" name="password" placeholder="password" />
                    <button class="absolute w-5 h-5 right-4" id="togglePassword"><img src="{% static 'img/svg/bi_eye.svg' %}" alt="show password"><div id="toggle-eye" class="absolute top-[8px] left-0 z-20 bg-[#fcda05] shown transition-[opacity] duration-150 ease-in-out rotate-45"></div></button>
                </div>
                <button type="submit" id="submit" class="group submit relative text-2xl h-12 w-32 text-center p-2 cursor-pointer overflow-hidden rounded-full border border-[#FCDA05] focus:ring-4 focus:outline-none focus:ring-yellow-300 dark:focus:ring-yellow-800 transition-all ease-in-out shadow-lg shadow-yellow-500/50 dark:shadow-lg dark:shadow-yellow-800/80 font-[Mohave]">
                    <span class="ease absolute top-1/2 h-0 w-64 origin-center -translate-x-20 rotate-45 bg-[#FCDA05] transition-all duration-300 group-hover:h-64 group-hover:-translate-y-32"></span>
                    <span class="ease leading-[35px] relative text-white transition duration-300 group-hover:text-black uppercase">login</span>
                </button>
            </form>
            <!-- <div class="absolute bottom-[80px] -right-[220px] -z-10 flex flex-col rotate-[135deg] gap-4 items-center justify-center">
                <span class="w-[16rem] h-10 bg-gradient-to-r from-[#fcda05] to-[#c29400] rounded-full" id="moveBlck"></span>
                <span class="w-[36rem] h-10 bg-gradient-to-r from-[#fcda05] to-[#c29400] rounded-full"></span>
            </div> -->
        </div>
    </div>
    {% endblock %}
    {% block script %}
        <script src="{% static 'js/userAuth_script.js' %}"></script>
    {% endblock %}

