{% extends 'base.html' %}
{% block title %}
Spin the Wheel
{% endblock %}
{% load static %}
{% block content %}
<div id="spin_the_wheel">
    <canvas class="cursor-[url('{% static 'img/svg/mouse_cursor_pointer.svg' %}'),_pointer]" id="wheel" width="600" height="600"></canvas>
    <div class="cursor-[url('{% static 'img/svg/mouse_cursor_pointer.svg' %}'),_pointer]" id="spin">SPIN</div>
</div>
<div class="hidden h-screen w-screen bg-black/[0.75] fixed flex flex-row items-center justify-center text-4xl text-white gap-4" id="sectorWrapper">
  <div>Selected Sector:</div>
  <div id="selected-sector"></div>
  <a href="{% url 'indiaMap' %}" id="sector-pass" class="group relative text-2xl px-8 py-2 w-max text-center cursor-[url('{% static 'img/svg/mouse_cursor_pointer.svg' %}'),_pointer] overflow-hidden rounded-full border border-[#FCDA05] font-[Mohave] focus:ring-4 focus:outline-none focus:ring-yellow-300 dark:focus:ring-yellow-800 transition-all ease-in-out shadow-lg shadow-yellow-500/50 dark:shadow-lg dark:shadow-yellow-800/80">
    <span class="ease-in-out absolute top-1/2 h-0 w-64 origin-center -translate-x-20 rotate-45 bg-[#FCDA05] transition-all duration-300 group-hover:h-64 group-hover:-translate-y-32"></span>
    <span class="ease relative text-white transition duration-300 group-hover:text-black uppercase">CONTINUE</span>
</a>
</div>
{% endblock%}
{% block script %}
        <script src="{% static 'js/wheel.js' %}"></script>
{% endblock %}